header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

nav {
  display: flex;
  gap: 25px;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
}
